{% extends "Layout/default.html" %}

{% set title = page.meta_title %}
{% set meta_description = page.meta_description %}

{% block body %}
    <h1> {{ page.title}}  </h1>
    {{ page.body|raw}}
    <div class="latest-posts">
      {% for blog_post in blog_posts %}

      <article class="{{ html_classes({
        'sticky': blog_post.sticky,
        'has-summary': config.blog.show_summary_on_index
    }) }}" itemscope="" itemtype="http://schema.org/BlogPosting" role="article">
        <header class="clearfix">
          <h2><a rel="bookmark" href="/blog/{{ blog_post.slug }}">{{ blog_post.title }}</a></h2>
          {% if config.blog.show_date_on_index %}
          <time pubdate datetime="{{ blog_post.created|date('c') }}">
              {{ blog_post.created|date('j F Y') }}
          </time>
          {% endif %}
        </header>
        {% if config.blog.show_summary_on_index %}
        <p class="summary">{{ blog_post.summary }}</p>
        {% endif %}
      </article>

      {% endfor %}
      <p><a class="button" href="/blog">All posts »</a></p>
    </div>

{% endblock %}
