{% extends "layout/default.html" %}

{% block title %}{{ page.title}} | {{ config.site.title }}{% endblock %}
{% block meta_description %}{{ page.meta_description }}{% endblock %}

{% block body %}

    {{ page.body|raw}}

{% endblock %}
{% block aside %}

<aside role="complementary" class="sidebar">

    <ul class="sub-menu">
        {% include "Element/siblings_menu.html" %}
    </ul>

    <ul class="sub-menu">
        {% include "Element/children_menu.html" %}
    </ul>

</aside>

{% endblock %}
