<!doctype html>
<html class="no-js" lang="en-NZ">

<head>
    <meta charset="utf-8">
    <title>
        {% block title %}{% endblock %}
    </title>
    <meta name="description" content="<title>{% block meta_description %}{% endblock %}</title>">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="manifest" href="site.webmanifest">
    <link rel="apple-touch-icon" href="icon.png">
    <!-- Place favicon.ico in the root directory -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Roboto:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/anticus.css">
    
    <meta name="theme-color" content="#fafafa">
</head>

<body>
    <!--[if IE]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->
    <header>
        <div class="logo">
            {% if here != '/' %}
                <a href="/">
            {% endif %}
            <img src="/img/logo.svg" alt="Anticus logo">
            {% if here != '/' %}
                </a>
            {% endif %}
        </div>
        <nav>
            <ul class="main-menu">
                {% include "Element/main_menu.html" %}
            </ul>
        </nav>
    </header>
    <main>
        <div class="content">
        {% block body %}
        {% endblock %}
        </div>
        {% block aside %}
        {% endblock %}
    </main>
    <footer>
        <p><small>{{ site.title}} copyright © {{ now | date('Y') }}</small></p>
        <p><small>Powered by <a href="https://github.com/mikebirch/anticus-app">Anticus</a></small></p>
    </footer>
    {% if config.google_analytics and config.environment == 'prod' %}
    <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
    <script>
        window.ga = function () {
            ga.q.push(arguments)
        };
        ga.q = [];
        ga.l = +new Date;
        ga('create', 'UA-XXXXX-Y', 'auto');
        ga('set', 'transport', 'beacon');
        ga('send', 'pageview')
    </script>
    <script src="https://www.google-analytics.com/analytics.js" async></script>
    {% endif %}
</body>

</html>
